body{
    font-family:'Open Sans', 
    sans-serif;
    
    background: linear-gradient(to bottom right, #2b5cff, #ff1744);
}

.QRconteiner{
    background-color: rgb(255, 250, 245);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.El_URL{
    background-color: #ffffff;
    border: 2px solid #2b5cff;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
.El_URL[type="url"]{
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    width: 100%;
}
.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.btn:hover{
    background-color:#2b5cff;
    color: rgb(255, 255, 255);
    transition: .3s;
}